// Fonts
$main-font: 'Muli', sans-serif;
$second-font: 'Bariol', sans-serif;
$logo-font: 'Arsenale', sans-serif;

// Responsive sizes
$tablet-width: 650px;
$desktop-width: 1025px;

// Fonts
$main-font: 'Din Pro Cond';

// Colors
$main-color: #1AA0DC;
$second-color: #36354e;
