.contentNav {
  height: 150px;
  border-top: solid thin #393939;
  border-bottom: solid thin #393939;
  background: #000;
}

.contentNav__list {
  display: flex;
  justify-content: center;
  height: 100%;
}

.contentNav__item {
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  color: $second-color;
  transform: translateY(-20px);
  opacity: 0;
  
  &--selected {
    color: $main-color;
    border-bottom: solid thin $main-color; 
  }
}

.contentNav__list.appeared {  
  
  .contentNav__item {
    animation: fadeInFromTop 0.7s forwards ease;
    
    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation-delay: 0.5s;
    }
  }
}