.footer {
  text-align: center;
}

.footer__title {
  font-size: 4.7rem;
  margin: 20px 0;  
  transform: translateY(60px);
  opacity: 0;
  
  &.appeared {
    animation: fadeInFromBottom 0.6s forwards;
  }
}

.footer__desc {
  font-size: 1.7rem;
  color: $second-color;
  font-weight: 500;
  transform: translateY(60px);
  opacity: 0;
  
  &.appeared {
    animation: fadeInFromBottom 0.6s 0.1s forwards;
  }
}

.footer__buttons {
  margin: 50px auto;
  width: 480px;
  display: flex;
  justify-content: space-between;
  transform: translateY(60px);
  opacity: 0;
  
  &.appeared {
    animation: fadeInFromBottom 0.6s 0.1s forwards;
  }
}

.footer__button.button {
  width: 235px;
  height: 60px;
  
  .button__text {
    line-height: 3.5;
    left: 0;
  }
  
  &:nth-child(2) {
    background: #232323;
  }
}

.footer__nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  transform: translateY(60px);
  opacity: 0;
  
  &.appeared {
    animation: fadeInFromBottom 0.6s 0.2s forwards;
  }
}

.footer__navItem {
  font-size: 1.8rem;
  cursor: pointer;
}

.footer__copyrights {
  margin: 80px 0 35px 0;
  font-weight: 500;
  font-size: 1.4rem;
  color: $second-color;
}