.hero {
  margin: 100px 0 0 0;
  display: flex;
  height: 520px;
}

.hero__container {
  position: relative;
  margin-left: 8.5%;
  width: 100%;
}

.hero__left {
  position: absolute;
  top: 0;
}

.hero__title {
  font-size: 8.0rem;
  font-weight: 900;
}

.hero__desc {
  font-size: 2rem;
  margin: 50px 0;
  width: 600px;
  line-height: 1.5;
  color: $second-color;
  
  .blockReveal {
    &:nth-child(1) {
      .blockReveal__content--animated {
        animation-delay: 0.3s;
      }
      .blockReveal__elm--animated {
        animation-delay: 0.3s;
      }
    }
    &:nth-child(2) {
      .blockReveal__content--animated {
        animation-delay: 0.5s;
      }
      .blockReveal__elm--animated {
        animation-delay: 0.5s;
      }
    }
  }
}

.hero__button {}

.hero__img {
  position: absolute;
  right: 0;
  top: 50px;
  width: 900px;
  transform: translateX(100px);
  opacity: 0;
  animation: fadeInFromRight 0.7s 1.5s ease forwards;
}