.button {
  background: $main-color;
  width: 280px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  
  &--withImage {
    justify-content: flex-start;
  }
}

.button__img {
  width: 45px;
  margin: 0 50px 0 25px;
  position: absolute;
  z-index: 10;
}

.button__text {
  font-size: 1.6rem;
  position: absolute;
  z-index: 10;
  
  &--big {
    font-size: 2rem;
  }
}

.button.blockReveal {
  background: none;
  display: flex;
  
  .blockReveal__elm {
    z-index: 0;
  }
  span.blockReveal__content {
    right: 80px;
  }
}

.button:hover {
  
  .button__hover{
    transform: translateX(0);
    transition: transform 0.2s ease-out;
  }
  
  .button__img g {
    stroke: $main-color;
  }
    
  .button__text {
    color: $main-color;
  }
}

.button__hover {
  width: 100%;
  height: 100%;
  // background: #3385A9;
  background: #FFF;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}
