.textBlock {
  
}

.textBlock__container {
  margin: auto;
  width: 510px;
}

.textBlock_nav {
  display: flex;
  justify-content: space-between;
  
  &--alignStart {
    justify-content: flex-start;
    
    li {
      margin-right: 30px;
    }
  }
}

.textBlock_navItem {
  font-weight: 500;
  font-size: 2.7rem;
  margin-bottom: 50px;
  color: $second-color;
  cursor: pointer;
  
  &--selected {
    color: $main-color;
    font-weight: 900;
  }
}

.textBlock__title {
  font-size: 4.7rem;
  width: 475px;
  line-height: 1.4;
  
  &--large {
    width: 100%;
  }
  
  .blockReveal {
    animation: none;

    &:nth-child(2) {
      .blockReveal__content {
        animation-delay: 0.3s;
      }
      .blockReveal__elm {
        animation-delay: 0.3s;
      }
    }
  }
}

.textBlock__desc {
  font-size: 2rem;
  margin: 50px 0;
  width: 600px;
  line-height: 1.5;
  color: $second-color;
  width: 415px;
  
  &--large {
    width: 100%;
  }
  
  .blockReveal {
    
    &:nth-child(1) {
      .blockReveal__content {
        animation-delay: 0.5s;
      }
      .blockReveal__elm {
        animation-delay: 0.5s;
      }
    }
    &:nth-child(2) {
      .blockReveal__content {
        animation-delay: 0.7s;
      }
      .blockReveal__elm {
        animation-delay: 0.7s;
      }
    }
    &:nth-child(3) {
      .blockReveal__content {
        animation-delay: 0.9s;
      }
      .blockReveal__elm {
        animation-delay: 0.9s;
      }
    }
  }
}